# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3

# Flask / Backend
instance/
*.log

# Node / Frontend
node_modules/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Git
*.bak
